{% extends "base.html" %}
{% load static from staticfiles %}

{%block stilos%}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "css/normalize.css" %}" />
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="{% static "css/oficina_stilos.css" %}" />
{%endblock%}

{%block titulo_pag%}Administracion - Loviz DelCarpio{%endblock%}
{% block layout %}
<div id="sidebar">
  <div class="top-sidebar">
    <div class="avatar">
      <img src="/media/tienda/user_anonimo.jpg" alt="">      
    </div>
    <div class="brandname">
      <div class="sitename">Loviz DelCarpio</div>
      <div class="nameuser">Ryujiin</div>
    </div>
  </div>
  <div class="buscador topbuscador">
    <span class="glyphicon glyphicon-search"></span>
    <input type="text" placeholder="Buscar...">
  </div>
  <ul class="menu">
    <li>      
      <a class="active" href="#"><span class="glyphicon glyphicon-home"></span>Escritorio</a>
    </li>
    <li>      
      <a href="#"><span class="glyphicon glyphicon-book"></span>Catalogo</a>
    </li>
    <li>      
      <a href="#"><span class="glyphicon glyphicon-book"></span>Inventario</a>
    </li>
  </ul>
</div>
<div id="contenido">
  <header>
    <div class="row">
      <div class="col-sm-8 header-main">
        <h3 class="titulo">
          <span class="glyphicon glyphicon-home"></span>Escritorio
        </h3>        
      </div>
      <div class="col-sm-4 header-right">
        <p>Revisa las notificaciones de la web</p>
      </div>
    </div>
  </header>
  <section class="conte">
    <div class="form_addproducto agregar_producto">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Informacion</a></li>
            <li><a href="#">Variaciones</a></li>
            <li><a href="#">Produccion</a></li>
            <li><a href="#">Imagenes</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <div class="informacion">
            <div class="p_nombre">
              <label for="">Nombre</label>
              {{form.nombre}}
            </div>
            <div class="p_nombre">
              <label for="">Marca</label>
              {{form.marca}}
            </div>
            <div class="p_nombre">
              <label for="">Descripcion</label>
              {{form.descripcion}}
            </div>
            <div class="p_nombre">
              <label for="">Categoria</label>
              {{form.categoria}}
            </div>
            <div class="p_nombre">
              <label for="">Marca</label>
              {{form.marca}}
            </div>
          </div>
          <div class="variaciones">
            <div class="precio">
              <label for="">Precio</label>
              {{form.precio}}
            </div>
            <div class="variacion">
              <div class="vtallas">
                <label for="talla">Talla</label>
                {{form_varia.talla}}
              </div>
              <div class="vprecio">
                <label for="">Precio de la Variante</label>
                {{form_varia.precio_variante}}
              </div>              
              <div class="vprecio">
                <label for="">Oferta de la Variante</label>
                {{form_varia.oferta_variante}}
              </div>
            </div>
            <div class="addvariate">
              <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar variante
              </button>
            </div>
          </div>
          <div class="imagenes">
            {{form_imgs.foto}}
          </div>
          <div style="margin: 100px; width: 600px;" id="manager-area"></div>
        </div>
      </div>
      <input type="submit" value="Enviar" class="enviar"/>
    </div>    
  </section> 
</div>
{% verbatim %}
    <script type="text/template" id="upload-manager_main">
    </script>
    <script type="text/template" id="upload-manager_file">
    </script>
  {% endverbatim %}
{% endblock %}