{% extends "base.html" %}
{% load static from staticfiles %}

{%block stilos%}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "css/normalize.css" %}" />
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="{% static "css/oficina_stilos2.css" %}" />
{%endblock%}

{%block titulo_pag%}Administracion - Loviz DelCarpio{%endblock%}
{% block layout %}
<header>
	<nav id="header_infos">
		<div class="row">
			<div class="col-md-2">
				<div class="brandname">Loviz DelCarpio</div>
			</div>
			<div class="col-md-8"></div>
			<div class="col-md-2">
				<div class="usuario">
					<div class="avatar pull-left">
						<img src="/media/tienda/user_anonimo.jpg" alt="">					
					</div>
					<div class="nombre pull-left">Ryujiin</div>
				</div>
			</div>
		</div>
	</nav>
</header>
<div id="main">
	<div class="contenido">
		<section class="lista_cates">		
		</section>
		<section class="categoria_single">
		</section>
	</div>	
</div>
<footer></footer>
	{% verbatim %}
		<script type="text/template" id="categorias_template">
			<div class="modulo {{slug}}">
				<div class="circulo">
					<span>3</span>
				</div>
				<div class="app-icono">
					<span class="glyphicon glyphicon-{{icono}}"></span>
				</div>
			</div>
			<div class="label_cate">{{nombre}}</div>	
		</script>

		<script id="productos_template" type="text/template">
				<div class="p_cabezera">
					<div class="p_nombre">
						<input type="checkbox">
						<label for="nombre">
							{{nombre}}
						</label>
					</div>
				</div>
				<figure>
					<img src="
					{% for img in imagenes_producto%}
					{%if loop.first%}
					{{img.thum_small}}
					{%endif%}
					{%endfor%}
					" alt="">
				</figure>
				<div class="p_contenido">
					<div class="p_categorias">
						<span class="badge">Pantuflas</span>
						<span class="badge">Scufs</span>
						<span class="badge">Mujer</span>
					</div>
				</div>
		</script>

		<script type="text/template" id="categoriaSingle_template">
			<div class="heder_cate {{slug}}">
				<div class="row  marco">
					<div class="htitulo col-sm-8">
						<h2 class="atras">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</h2>
						<h2 class="titulo-cate">
							<span class="glyphicon glyphicon-{{icono}}"></span>
							<span class="text-titulo">{{nombre}}</span>
						</h2>
					</div>
					<div class="hacciones col-sm-4">
						<span class="btn btn-primary">
							Agregar
						</span>
					</div>
				</div>
			</div>
			<div class="conte_cate marco">
				<div class="panel">
					<div class="panel-head">
						<div class="titulo enlinea">
							Productos <span class="badge">7</span>
						</div>
						<div class="acciones enlinea">						
							<div class="icono" title="Agregar">
								<span class="glyphicon glyphicon-plus"></span>
							</div>
							<div class="icono" title="Regrescar">
								<span class="glyphicon glyphicon-refresh"></span>	
							</div>
							<div class="icono" title="Check All">
								<span class="glyphicon glyphicon-ok"></span>		
							</div>
						</div>
					</div>
					<div class="panel-contenido">
						<div class="productos">
						</div>						
					</div>
				</div>
			</div>
		</script>
	{% endverbatim %}
{% endblock %}