{%extends 'layout3.html'%}

{%block titulo_pag%}Mi Bolsa :: Tienda Oficial LovizDC {%endblock%}

{%block contenido%}
<div class="" id="carro">
	<h2 class="titulo"> Carrito de compras</h2>
	<h3 class="subtitulo">Hay <span>2</span> articulos en su bolsa de compra</h3>
	<p>Su compra en Lovizdelcarpio.com es segura. Su orden será procesada en nuestros servidores seguros.</p>
	<table class="productos-bolsa">
		<thead>
			<tr class="first last">
				<th class="img">&nbsp;</th>
				<th class='name'><span class="nobr">Product Name</span></th>
				<th class="price"><span class="nobr">Precio Unitario</span></th>
				<th class="a-center cnt">Qty</th>
				<th class="a-center price">Subtotal</th>
				<th class="a-center acciones">Acciones</th>
			</tr>
		</thead>
		<tfoot id="cartSummary">
			<tr id="subtotal">
				<td class="sum" colspan="4">Subtotal (1 item):</td>
				<td class="amt" colspan="2">$69.95</td>
			</tr>
			<tr id="shipping">
				<td class="sum" colspan="4">Envio Estandar Lima:</td>
				<td class="amt" colspan="2">Gratis</td>
			</tr>
			<tr id="orderTotal" class="highlight">
				<td class="sum" colspan="4">Grand Total:</td>
				<td class="amt" colspan="2">$69.95</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td>
					<figure>
						<img src="http://localhost:8000/media/catalogo/producto/imagen/2_caballitos-verde.jpg" alt="">
					</figure>
				</td>
				<td>
					Pantufla Loviz delCarpio Caballito nube
				</td>
				<td>
					S/.23.00
				</td>
				<td>
					<input type="text" name="ctn" value="1" size="3">
				</td>
				<td>
					S/.23.00
				</td>
				<td>
					<span class="glyphicon glyphicon-remove"></span>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="botones">
		<button>Seguir Comprando</button>		
		<button>Procesar mi Compra</button>
	</div>
</div>
{%endblock%}