	<div class="footerblock">
		<div class="marco">
			<div class="block info-brand">
				<div class="logo">
					<a href="/">
						<img src="/media/tienda/logomin_0.png" alt="{{titulo_web}}">
					</a>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida ligula quis nunc sagittis nec sollicitudin arcu rutrum. Maecenas rutrum, lorem in tristique tristique, nibh enim volutpat sem, nec vestibulum nisl urna.
				</p>
				<a href="#">Leer Mas</a>
			</div>
			<div class="block coment-recent">
				<h3>Comentarios Recientes</h3>
				<div class="separador"></div>
				<div class="block-content">
					<ul>
						<li>
							<span class="marker"></span>Check out new great #themeforest item 'Rivercast - responsive magento template'. Make your perfect store with us! http://t.co/P04AGBXd
						</li>
						<li>
							<span class="marker"></span>Check out new great #themeforest item 'Rivercast - responsive magento template'. Make your perfect store with us! http://t.co/P04AGBXd
						</li>
						<li>
							<span class="marker"></span>Check out new great #themeforest item 'Rivercast - responsive magento template'. Make your perfect store with us! http://t.co/P04AGBXd
						</li>
					</ul>
				</div>
			</div>
			<div class="block contant-info">
				<h3>Informacion de Contacto</h3>
				<div class="separador"></div>
				<div class="block-content">				
					<ul>
						<li class="addres">
							<span class="marker"></span>Calle los alamos #349, Urb La ALborada,Comas, Lima Perú
						</li>
						<li class="telefono">
							<span class="marker"></span>(01)556-3367
						</li>
						<li class="mail">
							<span class="marker"></span>loviz@gmail.com <br> admin@loviz.com
						</li>
					</ul>
				</div>
			</div>
			<div class="block extra-info">
				<h3>Informacion de Envio</h3>
				<div class="separador"></div>
				<div class="block-content">
					<h4>Envio Gratis a Lima Metropolitana</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida ligula quis nunc sagittis nec sollicitudin arcu rutrum. Maecenas rutrum, lorem in tristique tristique, nibh enim volutpat sem, nec vestibulum nisl urna.
					</p>
				</div>
			</div>
		</div>
	</div>