	<div class="footer">
		<div class="marco">
			<div class="colum-footer">
				<div class="movil-marker icon-arrow-down"></div>
				<h3>Compra en Loviz DelCarpio</h3>
			</div>
			<div class="colum-footer">
				<div class="movil-marker icon-arrow-down"></div>
				<h3>Servicio al Cliente</h3>			
			</div>
			<div class="colum-footer">
				<div class="movil-marker icon-arrow-down"></div>
				<h3>Informacion Extra</h3>			
			</div>
			<div class="colum-footer">
				<div class="movil-marker icon-arrow-down"></div>
				<h3>Suscribete a Loviz DelCarpio</h3>			
			</div>
		</div>
	</div>