<div class="top-link">
	<div class="row contenedor">
		<div class="col-xs-12">
			<p class="mensaje">Bienvenido a Loviz DelCarpio Online!</p>					
		</div>
		<div class="col-xs-12">
			<p class="telefono">
				<span class="icono icon-phone"></span>
				Llamanos al <strong>(01)556-3367</strong>
			</p>
		</div>
		<div class="col-xs-12">
			<ul class="menu menu-inline">
			<li><a href="#">Login</a>
				<span class="icono icon-star3"></span></li>
			<li><a href="#">Mi Bolsa</a>
				<span class="icono icon-star3"></span></li>
			<li><a href="#">Ayuda</a></li>
		</ul>
		</div>
	</div>
</div>