{%extends 'layout3.html'%}

{%block titulo_pag%}{{categoria}} :: {{titulo_web}} {%endblock%}

{%block contenido%}
	<div class="row" id="categoria">
		<div class="col-sm-2">
			<aside>
				<div class="block faceta">
					<h3>Categoria</h3>
				</div>
				<div class="block faceta">
					<h3>Estilo</h3>
				</div>
				<div class="block faceta">
					<h3>Materiales</h3>
				</div>
				<div class="block faceta">
					<h3>Color</h3>
				</div>
			</aside>
		</div>
		<div class="col-sm-10">
			<h2 class="titulo">{{categoria.nombre}}</h2>
			<figure class="image-cate">
				<img src="http://meigeeteam.com/templates/shopland/media/wysiwyg/category_banner.jpg" alt="">
			</figure>
			<div class="breadCrumbs">
				Tus Selecciones :
			</div>
			<div class="descripcion">{{categoria.descripcion}}</div>
			<div class="row productos">
				{%for producto in productos%}
				<div class="col-sm-4">
					<article class="producto">
						<div class="image-box">
							<figure class="image">
							{%for img in producto.get_imagenes%}
								{%if forloop.first%}
									<a href="{{producto.get_absolute_url}}">
										<img src="{{img.foto.url}}" alt="">
									</a>
								{%endif%}
							{%endfor%}
							</figure>
							<div class="new-producto">Nuevo</div>
							<div class="item-sale"></div>
							<div class="item-time"></div>
						</div>
						<div class="producto-info">
							<div class="product-title">
								<a href="{{producto.get_absolute_url}}">{{producto.nombre_mostrar}}</a>
							</div>
							<div class="product-review">
								<div class="estrellitas">
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
								</div>
								<span>(1)Comentario</span>
							</div>
							<div class="price-box">
								{%for precio in producto.get_variacion_precio%}
									{%if forloop.first%}
										{%if precio.oferta%}
											<span class="old-price">S/.{{precio.en_oferta|floatformat:2}}</span>					
										{%endif%}
										<span class="price">S/.{{precio.precio_minorista|floatformat:2}}</span>
									{%endif%}
								{%endfor%}
							</div>
						</div>
					</article>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
{%endblock%}
