{% load static from staticfiles %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>
		{%block titulo_pag%}{{titulo_web}} - {{titulo_tagline}} {%endblock%}
	</title>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block favicon %}
    <link rel="shortcut icon" href="/media/tienda/logodelcarpio2_1.ico" />
    {% endblock %}
    {% block stilos%}
    	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200|Open+Sans' rel='stylesheet' type='text/css'>
    	<link href='http://fonts.googleapis.com/css?family=Quantico:700' rel='stylesheet' type='text/css'>
    	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
	    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />	    
	    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />	    
	    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% endblock%}
    {% block extrastyles %}{% endblock %}
    {% block extrahead %}{% endblock %}

</head>
<body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
	{% block layout %}
	{% endblock %}
	{% block tracking %}
	{% endblock %}
	{%block scripts%}
	<script src="{% static "js/vendor/jquery.js/" %}"></script>
	<script src="{% static "js/vendor/underscore.js/" %}"></script>
	<script src="{% static "js/vendor/backbone-min.js/" %}"></script>
	<script src="{% static "js/vendor/swig.js/" %}"></script>
	<script src="{% static "js/vendor/jquery-ui.js/" %}"></script>
	<script src="{% static "js/vendor/bootstrap.js/" %}"></script>	


	<script src="{% static "js/init.js" %}"></script>
	
	<script src="{% static "js/backbone/models/carro.js" %}"></script>
	<script src="{% static "js/backbone/models/lineaCarro.js" %}"></script>
	<script src="{% static "js/backbone/models/ubigeo.js" %}"></script>
	<script src="{% static "js/backbone/collections/carro.js" %}"></script>
	<script src="{% static "js/backbone/collections/lineasCarro.js" %}"></script>
	<script src="{% static "js/backbone/collections/ubigeo.js" %}"></script>
	<script src="{% static "js/backbone/views/carroview.js" %}"></script>	
	<script src="{% static "js/backbone/views/navegador.js" %}"></script>
	<script src="{% static "js/backbone/views/productosingle.js" %}"></script>
	<script src="{% static "js/backbone/views/lineaLista.js" %}"></script>	
	<script src="{% static "js/backbone/views/lineacarro.js" %}"></script>
	<script src="{% static "js/backbone/views/ubigeo.js" %}"></script>
	<script src="{% static "js/backbone/views/tienda.js" %}"></script>
	<script src="{% static "js/backbone/views/checkout.js" %}"></script>
	<script src="{% static "js/backbone/routers/base.js" %}"></script>

	<script src="{% static "js/main.js" %}"></script>
	
	{%endblock%}
	{% block extrascripts %}{% endblock %}
</body>
</html>