{% extends "base.html" %}

{%block layout%}
<header class="container wrapper">
	<div class="top-link">
		<div class="row">
			<div class="col-sm-6">
				<ul class="menu">
					<li class="enlinea"><span class="glyphicon glyphicon-earphone"></span>{{telefono}}(01)557-5560</li>
					<li class="enlinea">
						<a href="#"><span class="glyphicon glyphicon-exclamation-sign"></span>Ayuda</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<p class="enlinea">Bienvenido,{{user.email}}</p>
				<ul class="menu enlinea right">
					<li class="enlinea"><a href="#">Mi Cuenta</a></li>
					<li class="enlinea"><a href="#">Login</a></li>
					<li class="enlinea"><a href="#">Mis Favoritos</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-header">
		<div class="row">
			<div class="col-sm-3 brand">
				<h1 class="logo">
					<strong>{{titulo_web}} - {{titulo_tagline}}</strong>
					<a href="/">
						<img src="/media/tienda/logomin_0.png" alt="{{titulo_web}}">
					</a>
				</h1>
			</div>
			<div class="col-sm-9 buscador-minicart ">
				<div class="minicart right">
					<div class="icono-cart">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						<span class="cantidad">1</span>
					</div>
					<div class="body-cart">
						<div class="title-cart"><h2>Mi Bolsa</h2></div>
						<div class="detail-cart">
							<span>articulo(s)</span> - <span class="price">S/.2.44</span>
						</div>
					</div>
				</div>
				<div class="buscador enlinea">
					<div class="content-buscador">
						<input type="text" name="buscardor" placeholder="Buscador...">
						<span class="glyphicon glyphicon-search"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<nav id="main-menu" class="container wrapper">
	<div class="content-menu">
		<ul class="menu enlinea">
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Mujer</a></li>
			<li><a href="#">Hombre</a></li>
			<li><a href="#">Ofertas</a></li>
		</ul>
		<ul class="menu menu-login enlinea right">
			<li><a href="#">Registrate</a></li>
			<li><a href="">Login</a></li>
		</ul>
	</div>
</nav>
<div id="contenido" class="container wrapper">
	{%block contenido%}
	<section class="row bloques">
		<div class="col-md-3">Enrique</div>
		<div class="col-md-3">Enrique</div>
		<div class="col-md-3">Enrique</div>
		<div class="col-md-3">Enrique</div>
	</section>
	<section id="banners">
		<figure class="banner">
			<img src="http://demandware.edgesuite.net/aaff_prd/on/demandware.static/Sites-UGG-US-Site/Sites/default/v1405375948536/ugg/GenderLanding/women/S14-JUL-women-top-2x.jpg" alt="">
		</figure>
	</section>
	<section id="ofertas">
		<h2>Nuestras Ofertas</h2>
		<div class="row">
			<div class="col-md-4">
				<article class="producto">
					<div class="image-box">
						<figure class="image">
							<img src="http://localhost:8000/media/catalogo/producto/imagen/2_caballitos-verde.jpg" alt="">
						</figure>
						<div class="new-producto">Nuevo</div>
						<div class="item-sale"></div>
						<div class="item-time"></div>
					</div>
					<div class="producto-info">
						<div class="product-title">
							<a href="#">Pantufla Caballito Nube Rosado</a>
						</div>
						<div class="product-review">
							<div class="estrellitas">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</div>
							<span>(1)Comentario</span>
						</div>
						<div class="price-box">
							<span class="price">S/.23.00</span>
							<span class="old-price">S/.25.00</span>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-4">
				<article class="producto">
					<div class="image-box">
						<figure class="image">
							<img src="http://localhost:8000/media/catalogo/producto/imagen/2_caballitos-verde.jpg" alt="">
						</figure>
						<div class="new-producto">Nuevo</div>
						<div class="item-sale"></div>
						<div class="item-time"></div>
					</div>
					<div class="producto-info">
						<div class="product-title">
							<a href="#">Pantufla Caballito Nube Rosado</a>
						</div>
						<div class="product-review">
							<div class="estrellitas">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</div>
							<span>(1)Comentario</span>
						</div>
						<div class="price-box">
							<span class="price">S/.23.00</span>
							<span class="old-price">S/.25.00</span>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-4">
				<article class="producto">
					<div class="image-box">
						<figure class="image">
							<img src="http://localhost:8000/media/catalogo/producto/imagen/2_caballitos-verde.jpg" alt="">
						</figure>
						<div class="new-producto">Nuevo</div>
						<div class="item-sale"></div>
						<div class="item-time"></div>
					</div>
					<div class="producto-info">
						<div class="product-title">
							<a href="#">Pantufla Caballito Nube Rosado</a>
						</div>
						<div class="product-review">
							<div class="estrellitas">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</div>
							<span>(1)Comentario</span>
						</div>
						<div class="price-box">
							<span class="price">S/.23.00</span>
							<span class="old-price">S/.25.00</span>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
	<section id="newsletter">
		<div class="row block">
			<div class="col-md-5">
				<div class="titulo-newsletter">
					<h2>
						Conviertase en un Suscriptor y no pierda la oportunidad de ... 25% de Descuento
					</h2>
					<p>Regístrese para obtener consejos de estilo de noticias y una oferta exclusiva</p>
				</div>
			</div>
			<div class="col-md-7">
				<div class="form-newsletter">
					<input type="text" class="correo-newsletter" placeholder="Confirma tu Correo">
					<button>Suscribirse</button>
					<p>
						* Oferta válida para los solicitantes de registro de primera vez y sólo se aplica a los artículos a precio regular sólo 
					</p>
				</div>
			</div>
		</div>
	</section>
	{%endblock%}
</div>
<footer class="container">
	<div class="row">
		<div class="col-sm-5">
			<h2 class="logo-footer">Loviz <span>DelCarpio</span>
			</h2>
			<div class="block-footer">
				<div class="content-footer">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequatt, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.					
				</div>
			</div>
			<div class="block-footer">
				<div class="titulo-footer">
					Metodos de Pagos
				</div>
				<div class="content-footer">
					Estamos utilizando el método de pago PayPal y Dinero-bookers seguro. Usted puede pagar directamente formar su tarjeta de crédito a través de Moneybookers o Paypal y NUNCA almacene su información de la tarjeta en nuestro sitio
				</div>
			</div>
		</div>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-4">
					<div class="titulo-footer">
						Siguenos en
					</div>
					<div class="content-footer">
						<ul class="menu">
							<li><a href="#">Siguenos en Facebook</a></li>
							<li><a href="#">Siguenos en Twitter</a></li>
							<li><a href="#">Siguenos en Instagran</a></li>
							<li><a href="#">Suscribete en Youtube</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="titulo-footer">
						Informacion
					</div>
					<div class="content-footer">
						<ul class="menu">
							<li><a href="#">Sobre Nosotros</a></li>
							<li><a href="#">Terminos de Uso</a></li>
							<li><a href="#">La seguridad en Loviz DelCarpio</a></li>
							<li><a href="#">Envios y Devoluciones</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="titulo-footer">
						Servicio Al Cliente
					</div>
					<div class="content-footer">
						<ul class="menu">
							<li><a href="#">Libro de Reclamaciones</a></li>
							<li><a href="#">Contactanos</a></li>
							<li><a href="#">Ayuda</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="titulo-footer">
						Mi Cuenta
					</div>
					<div class="content-footer">
						<ul class="menu">
							<li><a href="#">Iniciar Secion</a></li>
							<li><a href="#">Registrarte</a></li>
							<li><a href="#">Mis Favoritos</a></li>
							<li><a href="#">Mis Pedidos</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="titulo-footer">
						Metedos de Contactos
					</div>
					<div class="content-footer">
						<ul class="menu">
							<li><a href="#">Calle los alamos #349, Urb. LA Aborada, Comas</a></li>
							<li><a href="#">loviz-admin@loviz.com</a></li>
							<li><a href="#">9398839003</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
{%endblock%}