{% extends "base.html" %}

{%block layout%}
{% csrf_token %}
<div class="granmarco">
	<header id="header">
		{% include 'partes/header-toplink.html'%}
		{%include 'partes/header-brand.html'%}
		</h1>
		<div class="carrito">
		</div>
	</header>
	<div class="contenedor">
		<nav id="main_menu">
			<div class="marco-doted">
					<div class="menu-mobil">
						<div class="icono-menu-mobil">
							<span class="glyphicon glyphicon-align-justify"></span>
						</div>
						<span class="nombre">Menu</span>
					</div>
					<div class="buscador-main">
						<input type="text" class="busca" placeholder="Buscar...">
						<span class="glyphicon glyphicon-search"></span>
					</div>
					<ul class="menu-cates menu_mobil">
						{%for cat in categorias%}
						<li class="{{cat.slug}}">
							<a href="{{cat.get_absolute_url}}">{{cat.nombre}}</a>
							{%if cat.get_hijos%}
							<ul class="menu-interno nvl1">
								{%for subcat in cat.get_hijos%}
								<li>
									<a href="{{subcat.get_absolute_url}}">{{subcat.nombre}}</a>
									{%if subcat.get_hijos%}
									<ul class="menu-interno nvl2">
										{%for scat in subcat.get_hijos%}
										<li>
											<a href="{{scat.get_absolute_url}}">
												{{scat.nombre}}
											</a>
										</li>
										{%endfor%}
									</ul>
									<span data-clase="{{cat.slug}}" data-nivel="nvl2" class="glyphicon glyphicon-plus"></span>
									{%endif%}
								</li>
								{%endfor%}
							</ul>
							<span data-nivel="nvl1" data-clase="{{cat.slug}}" class="glyphicon glyphicon-plus"></span>
							{%endif%}
						</li>
						{%endfor%}										
					</ul>
			</div>
		</nav>
	</div>
		{%block contenido%}
		<div class="contenedor">
			<section id="bannertop">
			</section>
			<section id="new-coleccion" class="slider-home">
				<h2><strong>Nueva</strong> Coleccion</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et nisi eget nunc laoreet posuere. Suspendisse adipiscing placerat augue, dictum blandit justo laoreet a. Pellentesque quam vitae urna fermentum elementum.</p>
				<div class="home-contenedor">
					<div class="productos">
					</div>
				</div>
			</section>
			<section id="new-ofertas" class="slider-home">
				<h2><strong>Nuevas</strong> Ofertas</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et nisi eget nunc laoreet posuere. Suspendisse adipiscing placerat augue, dictum blandit justo laoreet a. Pellentesque quam vitae urna fermentum elementum.</p>
				<div class="home-contenedor">
					<div class="productos">
						
					</div>		
			</section>
		</div>
		{%endblock%}
		<div id="modal">
			<div class="modalfondo">
				<div class="modalcontenido"></div>
			</div>
		</div>
</div>
{% verbatim %}
<script type="text/template" id="carro_mini">
	<div class="block-titulo">
		<span class="icono_cart">
		<span class="glyphicon glyphicon-shopping-cart"></span>
		</span>
		<div class="titulo-cart">
			Mi Bolsa de Compra
		</div>
		<span class="items">{{num_items}} articulos - <span class="price">S/. {{total_carro}}</span></span>
		<div class="checkout"><a href="/mi-bolsa/">checkout</a></div>
	</div>	
	<div class="carrito_content">
		<div class="lineas-carrito"></div>
		<div class="acciones">
			<div class="left">
				<div class="subtotal">S/. {{total_carro}}</div>
				<a href="/mi-bolsa/" class="url-bolsa">Ver mi bolsa</a>
			</div>
			<button>Facturacion</button>
		</div>
	</div>
</script>

<script type="text/template" id="linea_modal">
	<div class="row">
		<div class="col-xs-4">
			<figure>
				<img src="{{imagen}}" alt="">		
			</figure>
		</div>
		<div class="col-xs-8 datos">
			<p><label for="">Nombre</label> {{nombre}}</p>
			<p><label for="">Talla</label> {{talla}}</p>
			<p><label for="">Cantidad</label> {{cantidad}}</p>
			<p><label for="">total</label> S/.{{total_linea}}</p>
		</div>
	</div>
</script>

<script type="text/template" id="linea_carrito">
	<div class="row">
		<div class="col-xs-4">
			<figure>
				<img src="{{imagen}}" alt="">
			</figure>	
		</div>
		<div class="col-xs-8 datos">
			<p>{{nombre}}</p>
			<div class="precio-box">
				S/.{{precio}}<span class="badge">x{{cantidad}}</span>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="linea_bolsa">
	<div class="produ">
		<figure>
			<a href="#">
				<img src="{{imagen}}" alt="">								
			</a>
		</figure>
		<div class="name">
			<h2>
				<a href="#">
					{{nombre}}
				</a>
			</h2>
		</div>
		<div class="precio-unitario precio">
			S/.{{precio}}
		</div>
		<div class="cantidad">
			<label for="">Cantidad</label>
			<span class="botoncito decrece"></span>
			<input type="text" size="4" value="{{cantidad}}">
			<span class="botoncito crece"></span>							
		</div>
		<div class="total precio">
			S/.{{total_linea}}
		</div>
		<div class="acciones">
			<span class="icono editar"></span>
			<span class="icono borrar"></span>
		</div>
	</div>
</script>

<script type="text/template" id="bolsa_total">
	<div class="produ">
		<figure>
			<a href="#">
				<img src="{{imagen}}" alt="">								
			</a>
		</figure>
		<div class="name">
			<h2>
				<a href="#">
					{{nombre}}
				</a>
			</h2>
		</div>
		<div class="precio-unitario precio">
			S/.{{precio}}
		</div>
		<div class="cantidad">
			<label for="">Cantidad</label>
			<span class="botoncito decrece"></span>
			<input type="text" size="4" value="{{cantidad}}">
			<span class="botoncito crece"></span>							
		</div>
		<div class="total precio">
			S/.{{total_linea}}
		</div>
		<div class="acciones">
			<span class="icono editar"></span>
			<span class="icono borrar"></span>
		</div>
	</div>
</script>

{% endverbatim %}
{%endblock%}