{% extends "base.html" %}

{%block layout%}
{% csrf_token %}
<header id="header">
	{%include 'partes/header-toplink.html'%}
	{%include 'partes/header-brand.html'%}
	<div class="mini-cart">
	</div>
</header>
<div id="body" class='marco'>
	<div class="separador"></div>
	<nav id="main-nav">
		{%include 'partes/navegador.html'%}
	</nav>
	<div class="separador"></div>
	{%block contenido%}
	<section id="banner"></section>
	<section id="promos">
		<div class="promo new-coleccion">
			<h2><strong>Nueva</strong> Coleccion</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et nisi eget nunc laoreet posuere. Suspendisse adipiscing placerat augue, dictum blandit justo laoreet a. Pellentesque quam vitae urna fermentum elementum.
			</p>
			<a href="#">Leer Mas</a>
		</div>
		<div class="promo ofertas">
			<h2><strong>Ofertas</strong> de Productos</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et nisi eget nunc laoreet posuere. Suspendisse adipiscing placerat augue, dictum blandit justo laoreet a. Pellentesque quam vitae urna fermentum elementum.
			</p>
			<a href="#">Leer Mas</a>			
		</div>
	</section>
	{%endblock%}
</div>
<footer id="footer">
	{%include 'partes/footer-blocks.html'%}
	{%include 'partes/footer-main.html'%}
</footer>
{% verbatim %}
<script type="text/template" id="carro_mini">
	<div class="block-titulo">
		<span class="icon-cart">
		</span>
		<div class="titulo-cart">
			Mi Bolsa de Compra
		</div>
		<span class="items">{{num_items}} articulos - <span class="price">S/. {{total_carro}}</span></span>
		<div class="checkout"><a href="/checkout/">checkout</a></div>
	</div>	
	<div class="carrito_content">
		<div class="lineas-carrito"></div>
		<div class="acciones">
			<div class="left">
				<div class="subtotal">S/. {{total_carro}}</div>
				<a href="/mi-bolsa/" class="url-bolsa">Ver mi bolsa</a>
			</div>
			<button>Facturacion</button>
		</div>
	</div>
</script>

<script type="text/template" id="linea_modal">
	<div class="row">
		<div class="col-xs-4">
			<figure>
				<img src="{{imagen}}" alt="">		
			</figure>
		</div>
		<div class="col-xs-8 datos">
			<p><label for="">Nombre</label> {{nombre}}</p>
			<p><label for="">Talla</label> {{talla}}</p>
			<p><label for="">Cantidad</label> {{cantidad}}</p>
			<p><label for="">total</label> S/.{{total_linea}}</p>
		</div>
	</div>
</script>

<script type="text/template" id="linea_carrito">
	<div class="row">
		<div class="col-xs-4">
			<figure>
				<img src="{{imagen}}" alt="">
			</figure>	
		</div>
		<div class="col-xs-8 datos">
			<p>{{nombre}}</p>
			<div class="precio-box">
				S/.{{precio}}<span class="badge">x{{cantidad}}</span>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="linea_bolsa">
		<figure>
			<a href="#">
				<img src="{{imagen}}" alt="">								
			</a>
		</figure>
		<div class="name">
			<h2>
				<a href="#">
					{{nombre}}
				</a>
			</h2>
		</div>
		<div class="precio-unitario precio">
			S/.{{precio}}
		</div>
		<div class="cantidad">
			<label for="">Cantidad</label>
			<span class="botoncito decrece"></span>
			<input type="text" size="4" value="{{cantidad}}">
			<span class="botoncito crece"></span>							
		</div>
		<div class="total precio">
			S/.{{total_linea}}
		</div>
		<div class="acciones">
			<span class="icono editar"></span>
			<span class="icono borrar"></span>
		</div>
</script>

<script type="text/template" id="carro_total">
	<h3>Total</h3>
	<div class="borde-total">
		<div class="total_content">
			<div class="subtotal secc">
				<div class="etiq">Subtotal</div>
				<div class="cifra">S/.{{total_carro}}</div>
			</div>
			<div class="envio secc">
				<div class="etiq">Gasto de Envio</div>
				<div class="cifra">Free</div>
			</div>
			<div class="total secc">
				<div class="etiq">Total</div>
				<div class="cifra">S/.{{total_carro}}</div>
			</div>
		</div>
		<div class="proceces_checkout">
			<p>Solo te falta el pago</p>
			<button class="procesar">Pagar mi compra</button>
		</div>
	</div>
</script>

<script type="text/template" id="optiones">
	<option value="{{pk}}">{{name}}</option>
</script>

{% endverbatim %}
{%endblock%}